

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

.input_field {
  margin-left: 2%;

}

.search_data {
  margin-left: 2%;
  margin-top:2em;
  width: 15%;
}

.data-container {

  display: flex;

  flex-direction: column;

}


.data-container-one {

  width: 25%;
  padding: 1em;
  border: 1px solid purple;
  margin-top: 1rem;

}


.info-item {

  width: 80%;
  height: 1vh;
  padding: 1em;
  border: 1px solid blue;
  margin-top: 1rem;

}


.button_search {
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}